*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, ol, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto",sans-serif;
    color:#434455;
    background-color: #ffffff; 
}

img {
    display: block;
    max-width: 100%;   /*ДЗ-6 - для всіх фото, зокрема для секції port
            Щоб фото розтягувались по контейнеру, і фото 
            ніколи не вийде за межі свого батьківського елемента*/
    height: auto;       /*ДЗ-6 */
}

.header-container {
    display: flex;
    align-items: center;  /*вирівнює елементи всередині рядків: Елементи розташовані по центру контейнера*/
    justify-content: space-between; /*Флекси рівномірно розподіляються по всьому рядку. Перший і останній флекс притискаються до відповідних країв контейнера*/
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    Border: 0px, 0px, 1px, 0px;
    /*border-bottom: 1px solid #e7e9fc; */
  }

.header-nav {
    display: flex;
    align-items: center;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  
    0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08); 
    padding: 16px 0;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0;
    } 
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    } 
}   
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }        
}

/*ДЗ-6 - меню для мобілки*/

.open-menu {              
    background: none;
    border: 0;
    width: 24px; 
    height: 24px;
    color: #2f2f37;
    padding: 0;
}

.open-menu svg {
    fill: currentColor;
}

/*@media screen and (min-width: 768px) {   
    .container {
        display: none;        ДЗ-6 - для планшета - забрати бургер-меню
    } 
}*/

@media screen and (min-width: 768px) {   
    .open-menu {
        display: none;        /*ДЗ-6 - для планшета - забрати бургер-меню*/
    } 
}

.mobile-menu {
    position: absolute;       /*ДЗ-6 - меню для мобілки*/
    visibility: hidden;       /*ДЗ-6 - меню для мобілки*/
    opacity: 0;               /*ДЗ-6 - меню для мобілки*/ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;        /*ДЗ-6 перекриє весь екран мобілки*/
    height: 100%;       /*ДЗ-6 перекриє весь екран мобілки*/
    background: #fff;
    padding: 72px 16px 40px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; /*ДЗ-6 - ці 3 списки в різні боки*/
    gap: 48px;                 /*ДЗ-6 - відстань внизу між іконками соцмереж*/
    z-index: 2;         /*ДЗ-6- ментор 30-12-2023*/
}
/*z-index імітує невидимий третій вимір, який перпендикулярний екрану. 
Елемент з z-index=2 показуватиметься ближче користувачеві,
ніж елементі зі z-index=1*/

.mobile-menu.is-open {
    visibility: visible;      /*ДЗ-6 - меню для мобілки*/
    opacity: 1;               /*ДЗ-6 - меню для мобілки*/
}

/*ДЗ-6 - модальне вікно - бургер-меню для мобілки*/
.mobile-menu-burger {
    list-style: none;        /*ДЗ-6 - Прибрати маркери в списку*/
    margin-bottom: auto;     /*ДЗ-6 - 2 ul нижні притискаються донизу*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-burger-a {
    font-weight: 700;   
    font-size: 36px;
    line-height: 1.11;  
    letter-spacing: 0.03em;
    text-decoration:none;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-burger-a.current {
    color:#404bbf;
}

.mobile-menu-contacts {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-tel,
.mobile-menu-email {
    font-size: 20px;
    font-weight: 500;
    font-style: normal; 
    line-height: 1.2;
    letter-spacing: 0.02em;   
    text-decoration:none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.mobile-menu-tel {
    color: #4D5AE5;
}

.mobile-menu-email {
    color: #434455; 
}*/

.mobile-menu-tel:hover,
.mobile-menu-tel:focus,
.mobile-menu-email:hover,
.mobile-menu-email:focus {
    color: #404bbf;    
}

.mobile-menu-social {   
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.svg-mobile {
    fill: #f4f4fd;
}

.mobile-menu-social-li {    
        width: 40px;
        height: 40px;
}

.mobile-menu-social-li-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-li-a:hover,
.mobile-menu-social-li-a:focus {
    background-color: #404bbf; 
}

/* кнопка Х - закрити вікно*/
.mobile-menu-button-close {
    position: absolute; 
    top: 24px; 
    right: 24px;
    width: 24px;
    height: 24px; 
    border-radius: 50%; 
    display: flex; 
    padding: 0; 
    align-items: center; /*для вирівнювання дочірнього елемента по вертикалі*/
    justify-content: center; /*для вирівнювання дочірнього елемента по горизонталі*/
    /*background-color: #e7e9fc; колір фону кнопки*/ 
    background: rgba(231, 233, 252, 0.1);    /*колір прозорий*/
    border: 1px solid rgba(46, 47, 66, 0.1); /*прозорі межі навколо елемента*/
    cursor: pointer; /*визначення стилю курсору*/
    color: #2E2F42;
}

.mobile-menu-button-close:hover {
    border: none; 
} 
    /*background-color: #404bbf; */

.mobile-menu-button-close:focus {
    border: none; 
}

.mobile-menu-button-close-svg {
    /*transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    fill: #2e2f42;
}

/*.mobile-menu-button-close:hover .mobile-menu-button-close-svg {
    fill: #ffffff;
}

.mobile-menu-button-close:focus .mobile-menu-button-close-svg {
    fill: #ffffff;
}*/

/*ДЗ-6 - для планшета - забрати меню для мобілки*/
@media screen and (min-width: 768px) {   
    .mobile-menu {
        display: none;        
    } 
}
/*кінець меню для мобілки*/



.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration:none;
    margin-right: 76px; 
}

.logo-span-header {
    color: #2e2f42;
}
    /*margin-right: 76px; 07.12.2023 перевірка ментора*/  


.menu-nav, 
.menu-addr,
.menu-visio,
.menu-team,
.menu-port,
.menu-team-social {
    list-style:none;
}

.menu-nav .menu {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-decoration:none;
    padding: 24px 0;   
    display: block;    /*07.12.2023 перевірка ментора */
    position: relative; /*11-12-2023*/
    color: #2e2f42; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.current {
    color:#404bbf;
}

.menu.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.menu-nav .menu:hover,
.menu-nav .menu:focus {
    color: #404bbf;    
}


.menu-address {
    font-style: normal;
    display: none;             /*ДЗ-6 - для мобілки*/
}

@media screen and (min-width: 768px) {
    .menu-address {
        display: block; 
    }
}

.menu-addr .email-tel {
    font-size: 16px;
    font-weight: 400;
    font-style: normal; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
    text-decoration:none;
    /*padding-top: 24px;      ДЗ-6 забрати */
    /*padding-bottom: 24px;   ДЗ-6 забрати */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-addr .email-tel:hover,
.menu-addr .email-tel:focus {
    color: #404bbf;    
}

.menu-nav {
    gap: 40px;
    display: none;     /*ДЗ-6 - для мобілки*/
}

@media screen and (min-width: 768px) {
    .menu-nav {
        display: flex; 
    }
}

.menu-addr {
    display: flex;
    flex-direction: column;  /*ДЗ-6 - для планшета*/
    gap: 12px;               /*ДЗ-6 - для планшета*/
    /*gap: 40px;*/           /*ДЗ-6 - для планшета закрити*/ 
}

@media screen and (min-width: 1158px) {
    .menu-addr {
        flex-direction: row;  /*ДЗ-6 - для десктоп*/
        gap: 40px;            /*ДЗ-6 - для десктоп*/
    }
}

.about {
    background-color: #2E2F42;
    text-align: center;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/about/about-320@1x.jpg); /* /*ДЗ-6 - для мобілки , для реалізації фонового зображення з затемненням (багатошаровий фон з градієнтом)   */
    max-width: 1440px; /*визначення ширини секції*/
    background-repeat: no-repeat; /*для уникнення повторення фонового зображення відносно його власної ширини та висоти*/
    background-position: center; /*вирівнювання фонового зображення відносно його власної ширини та висоти*/
    background-size: cover; /*для позиціонування зображення на всю площу фону елемента*/
}   

/*   ДЗ-6  фонове зображення  1х  2х     */

  @media only screen and (max-width: 767px)  and (min-resolution: 192dpi) {
    .about {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/about/about-320@2x.jpg');
    }
  }
  @media only screen and (min-width: 768px) {
    .about {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/about/about-768@1x.jpg');
    }
  }
  @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .about {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/about/about-768@2x.jpg');
    }
  }
  @media only screen and (min-width: 1158px) {
    .about {
        padding: 188px 0; 
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/about/about-1158@1x.jpg');
    }
  }
  @media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .about {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/about/about-1158@2x.jpg');
    }
  }
/*    фонове зображення створено    */

.about-title {
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: white;
    max-width: 496px;   /* 06-12 для визначення ширини тексту в заголовка*/  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;   /*ДЗ-6 - для мобілки*/
}

@media screen and (min-width: 768px) {
    .about-title {
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .about-title {
        font-size: 56px;
        margin-bottom: 48px;
    }
 }

.about button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    background-color: #4d5ae5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32 px;
    display: block;  /* 06-12 для можливості центрувати кнопку через властивість margin?*/
    min-width: 169px;   /* 06-12 мінімальна ширина кнопки*/
    height: 56px;       /* 06-12 висота кнопки*/
    border: none;       /* 06-12 для вимкнення стандартного оформлення кнопки*/
    border-radius: 4px; /* 06-12 заокруглення у кнопки*/
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*плавної зміни кольору фону елемента*/
}

button:hover, 
button:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.visio {
    padding: 96px 0;
 }

@media screen and (min-width: 1158px) {
    .visio {
        padding: 120px 0;
    }
}
 /*width: 1128px; margin-bottom: 120px; 07.12.2023 перевірка ментора*/

.menu-visio {
    display: flex;  /*06-12 для розміщення елементів списку по горизонталі в рядок*/
    gap: 72px 24px;      /*ДЗ-6 для мобілки 72 - відступ між рядками,
                          і заодно для планшета 24 - відступ між стовпчиками
                          це - розмір відступів між елементами списку*/
    flex-direction: column; /*ДЗ-6 - для мобілки розміщення в стовпчик*/
}

@media screen and (min-width: 768px) {
    .menu-visio {
        flex-direction: row;   /*ДЗ-6 - для планшета на 2 колонки*/
        flex-wrap: wrap;       /*ДЗ-6 - для планшета на 2 колонки*/
    }
}

/*.menu-visio-li {
    width: calc((100% - 72px) / 4);
}*/

@media screen and (min-width: 768px) {
    .menu-visio-li {
        width: calc((100% - 24px) / 2);   /*ДЗ-6 - для планшета на 2 колонки*/
    }
}

@media screen and (min-width: 1158px) {
    .menu-visio-li {
        width: calc((100% - 72px) / 4);  /*ДЗ-6 - для десктоп*/
    }
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/*svg {
    fill: #4D5AE5;
}*/

.svg-visio {
    width: 64;
    height: 64;
}

.visio-ul-li-div {
    border-radius: 4px;
    border: 1px;
    border-color: #8e8f99;
    border-style: solid;
    margin-bottom: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    display: none;  /* ДЗ-6 - прописати тут, 
      щоб перебити вище наведену display:flex; - ряд 313*/
}

@media screen and (min-width: 1158px) {
    .visio-ul-li-div {
        display: flex;
    }
}

/* h3 заголовок */
.h-visio {
    font-size: 36px;    /* ДЗ-6 для мобілки і планшета */
    font-weight: 700;   /* ДЗ-6 для мобілки і планшета */
    text-align: center; /* ДЗ-6 для мобілки і планшета */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;  /*06-12 відступ між заголовком і параграфом*/
}

@media screen and (min-width: 768px) {
    .h-visio {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .h-visio {
        font-size: 20px;
        font-weight: 500;
    }
}

.p-visio {
    font-size: 16px;
    /*font-weight: 400; ДЗ-6 - закрити для мобілки і планшета */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    font-weight: 500; /* ДЗ-6 для мобілки і планшета */
}
/*margin-top: 0;  07.12.2023 перевірка ментора*/

@media screen and (min-width: 1158px) {
    .p-visio {
        font-weight: 400; /* ДЗ-6 для десктоп - на блендед цього не було */
    }
}

.team {
    background-color: #F4F4FD;
    padding: 96px 0; /* ДЗ-6 для мобілки і планшета */
}
/*    margin-bottom: 120px; 07.12.2023 перевірка ментора*/

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0; /* ДЗ-6 для десктоп */
    }
}

.menu-team {
    display: flex;  /*06-12 для розміщення елементів списку по горизонталі в рядок*/
    gap: 72px 24px;      /*06-12 розмір відступів між елементами списку*/
    flex-direction: column; /* ДЗ-6 для мобілки і планшета */
    align-items: center;    /* ДЗ-6 для мобілки і планшета */
}

@media screen and (min-width: 768px) {
    .menu-team {flex-direction: row;       /* ДЗ-6 для планшета */
            flex-wrap: wrap;           /* ДЗ-6 для планшета */ 
            justify-content: center;   /* ДЗ-6 для планшета */
            gap: 64px 24px;            /* ДЗ-6 для планшета */
        }
}

/*заголовок h2*/
.team-h {
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px; /*06-12 відступ між h2 заголовком і параграфом*/
}

.team p {
    text-align: center;
}

.team-li {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    /*width: calc((100% - 72px) / 4); */
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);  /*визначення тіні для елемента*/
    width: 264px;
}

@media screen and (min-width: 1158px) {
    .team-li {
        width: calc((100% - 72px) / 4);       /* ДЗ-6 для десктоп */
        }
}

.team-li-div {
    padding: 32px 0;
}

/* h3 заголовок  */
.h-team {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px; /*06-12 відступ від заголовка до параграфу*/
}

.p-team {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin: 0 0 8px;
}
/*4hw   */
.menu-team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.svg-team {
    fill: #f4f4fd;
}

.team-social-li {    
        width: 40px;
        height: 40px;
}

.team-social-li-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-li-a:hover,
.team-social-li-a:focus {
    background-color: #404bbf; 
}

.port {
    padding: 96px 0;  /* ДЗ-6 для мобілки і планшета */
}
/*    margin-bottom: 120px; 07.12.2023 перевірка ментора*/

@media screen and (min-width: 1158px) {
    .port {
        padding: 120px 0; /* ДЗ-6 для десктоп */
    }
}

/* h2 заголовок */
.port-h {
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* h3 заголовок */
.h-port {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;  
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.p-port {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.menu-port {
    display: flex;
    flex-wrap: wrap; /*для переносу елементів списку на новий рядок якщо їм не вистачає місця в попередньому */
    column-gap: 24px; /* горизонтальних відступів між пунктами списку*/                
    row-gap: 48px;  /*вертикальних відступів між елементами списку якщо вони переносяться на новий рядок*/
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .menu-port {flex-direction: row;   /* ДЗ-6 для планшета */
                gap: 72px 24px;        /* ДЗ-6 для планшета */          
    }
}

.menu-port-li {
    /*width: calc((100% - 48px) / 3); */
    transition: 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

@media screen and (min-width: 768px) {
    .menu-port-li {width: calc((100% - 24px) / 2);    /* ДЗ-6 для планшета */
    }
}

@media screen and (min-width: 1158px) {
    .menu-port-li {
        width: calc((100% - 48px) / 3);       /* ДЗ-6 для десктоп */
        }
}

.menu-port-li:hover {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.menu-port-li:hover .menu-port-li-div-img-p {
    transform: translateY(0%);
}

.menu-port-li-div{
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.menu-port-li-div-img {
    position: relative;
    overflow: hidden;
}

.menu-port-li-div-img-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    margin: 0;
}

/*   footer    */

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    /*max-width: 264px;   */   /* ДЗ-6 для мобілки поки забрали*/
    margin: 0;
    text-align: left;   /* ДЗ-6 для мобілки і планшета */
}

.footer {
    padding: 96px 0;    /* ДЗ-6 для мобілки і планшета */
    background-color: #2E2F42;
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0; /* ДЗ-6 для десктоп */
    }
}

.logo-a-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration:none;
    margin-bottom: 16px; 
    display: inline-block; /*для додавання посиланню блочних властивостей*/
}

.logo-span-footer {
    color: #f4f4fd;
}

.container-footer {
    display: flex;
    flex-direction: column;    /* ДЗ-6 для мобілки*/
    /*align-items: baseline;      ДЗ-6 */
    row-gap: 72px;
}

@media screen and (min-width: 768px) {
    .container-footer {
        flex-direction: row;    /* ДЗ-6 для планшета*/
        flex-wrap: wrap;        /* ДЗ-6 для планшета*/
        padding: 0 108px;       /* ДЗ-6 для планшета*/
        column-gap: 24px;       /* row-gap: 72px; -було вище ДЗ-6 для планшета*/
    }
}

@media screen and (min-width: 1158px) {
    .container-footer {
        gap: 0;                 /* ДЗ-6 для десктоп*/
        padding: 0 15px;        /* ДЗ-6 для десктоп*/
        align-items: baseline;  /* ДЗ-6 для десктоп*/
    }
}

.container-footer-div {
    text-align: center;    /* ДЗ-6 для мобілки - тоді лого стане по центру*/
}
    /*margin: 0 auto;
    max-width: 1158px;
    padding: 0 15px; все це є в класі .container*/

@media screen and (min-width: 768px) {
    .container-footer-div {
        width: 264px;    /* ДЗ-6 для планшета*/
        text-align: left;    /* ДЗ-6 для планшета*/
    }
}    

@media screen and (min-width: 1158px) {
    .container-footer-div {
        margin-right: 120px; /* ДЗ-6 для десктоп */
    }
}

.footer-div-p-social,
.footer-div-form-group-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0;     
    margin-bottom: 16px;
    text-align: center;    /* ДЗ-6 для мобілки*/
}

@media screen and (min-width: 768px) {
    .footer-div-p-social,
    .footer-div-form-group-p {
        text-align: left;    /* ДЗ-6 для планшета*/
    }
}

.menu-footer-social {
    display: flex;
    gap: 16px;
    list-style: none;  
    justify-content: center;    /* ДЗ-6 для мобілки*/
}

.footer-social-li {
    width: 40px;
    height: 40px;
}

.footer-social-li-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-li-a:hover,
.footer-social-li-a:focus {
    background-color: #31d0aa; 
}

.svg-footer {
    fill: #f4f4fd;
}

/*  5hw  */
.order-form {
    display: flex; 
    gap: 16px;               /* ДЗ-6 для мобілки міняю*/
    /*gap: 24px;*/           /* ДЗ-6 для мобілки*/
    flex-direction: column;  /* ДЗ-6 для мобілки*/
    align-items: center;     /* ДЗ-6 для мобілки*/
}

@media screen and (min-width: 768px) {
    .order-form {
        flex-direction: row;    /* ДЗ-6 для планшета*/
    }
}

.order-form-input {
    /*idth: 264px;*/          /* ДЗ-6 для мобілки міняю*/
    width: 100%;              /* ДЗ-6 для мобілки міняю*/
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.order-form-label {
    width: 100%;         /* ДЗ-6 для мобілки - нове додати*/
}

@media screen and (min-width: 768px) {
    .order-form-label {
        width: 264px;    /* ДЗ-6 для планшета*/
    }
}

/*.footer-div-form-group-p {
see 511                    }*/

.order-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center; /*для вирівнювання контенту по горизонталі*/
    align-items: center; /*для вирівнювання контенту по вертикалі*/
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px;
    /*padding: 8px 24px;*/
}

/* footer знак тг на кнопці */
.order-form-button-svg {
    margin-left: 16px;
    fill: white;
}

/*.container-footer-form-group {
    /margin-left: auto; можна вилучити - ДЗ-6 для десктоп 
}*/

@media screen and (min-width: 1158px) {
    .container-footer-form-group {
        margin-left: auto;    /* ДЗ-6 для десктоп */
    }
}

/* вікно на всю ширину основного банера*/
/*div - контейнер для модального вікна*/
.modal {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;    
    visibility: hidden;
}

.modal.is-open {
    opacity: 1;
    visibility: visible;
}

/* вікно input для вводу ПІБ - тел - емейл  "Leave your contacts" */
/* div - модальне вікно*/
.modal-div {
    position: absolute;
    /*Абсолютно позиціонуємо елемент відносно предка.*/
    top: 50%; 
    left: 50%; 
        /*Задаємо елементу властивості top і left 
        зі значенням 50%, щоб розташувати 
        верхній лівий кут елемента рівно по центру предка.*/
    transform: translate(-50%, -50%) scale(1); 
        /*Задаємо елементу негативне зміщення (translate) 
        по 50% висоти і ширини. Це змістить елемент 
        вгору і вліво і відцентрує всередині предка.*/
    max-width: 408px;          /*ДЗ-6 для мобілки - міняю на max*/
    width: calc(100% - 32px);  /*ДЗ-6 для мобілки - робимо зазори по 16px*/
    min-height: 584px;         /*see Figma - Modal bg*/
    background: #fcfcfc;     /*see Figma - Modal bg*/
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2); /*see Figma - Modal bg*/
    border-radius: 4px;        /*see Figma - Modal bg*/
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;
}

/* кнопка Х - закрити вікно*/
.modal-button-close {
    position: absolute; 
    top: 24px; 
    right: 24px;
    width: 24px;
    height: 24px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; /*для вирівнювання дочірнього елемента по вертикалі*/
    justify-content: center; /*для вирівнювання дочірнього елемента по горизонталі*/
    background-color: #e7e9fc; /*колір фону кнопки*/
    border: 1px solid rgba(0, 0, 0, 0.1); /*колір і тд межі навколо елемента*/
    padding: 0; 
    cursor: pointer; /*визначення стилю курсору*/
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); /*анімаційний ефект для зміни значень властивостей стилю*/
}

.modal-button-close:hover {
    background-color: #404bbf; 
    border: none; 
} 

.modal-button-close:focus {
    border: none; 
}

.modal-button-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    fill: #2e2f42;
}

.modal-button-close:hover .modal-button-close-svg {
    fill: #ffffff;
}

.modal-button-close:focus .modal-button-close-svg {
    fill: #ffffff;
}

.modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
    margin-top: 0;
}

.modal-form-div {
    margin-bottom: 8px;
}

.modal-form-div-l,
.modal-form-div-phone,
.modal-form-div-email {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px; 
}

.modal-form-div-pers {
    position: relative;
}

.input-pers {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-pers:focus {
    border-color: #4D5AE5;
}
/* 21-12-2023   колір іконок *************/
.modal-form-div-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;  
}

.input-pers:focus + .modal-form-div-svg {
    fill: #4D5AE5;
}

/**********************************/


.modal-form-div-comment {
    margin-bottom: 16px;
}

.modal-form-comment-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent;
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment-textarea:focus {
    border-color: #4D5AE5; 
}

.modal-form-checkbox {
    margin-bottom: 24px;
}

.label-checkbox {
    font-size: 12px; 
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: #8e8f99; 
    display: flex;      /*ДЗ-6 для мобілки - додати*/
}
/*квадрат для I accept  - під коментарем*/
.label-checkbox-span {
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    transition: background-color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    fill: transparent; 
    margin-right: 8px; /*21-12-2023 ментор - відступ від чекбоксу до слів*/
    flex-shrink: 0;    /*ДЗ-6 для мобілки - додати*/
}


/*input:checked + label > span {} 20-12-2023 slack @sergiy korobka*/
.input-checkbox:checked + .label-checkbox > .label-checkbox-span {
    background-color: #404bbf; 
    border: none; 
    fill: #F4F4FD; 
}

.input-checkbox:focus + .label-checkbox > .label-checkbox-span {
    border-color: #4D5AE5;
}

.label-checkbox-a {
    color: #4d5ae5; 
}

.modal-form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer; 
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;   /*21-12-2021 - центрувати кнопку    */
}